.reasons {
  padding: 85px 0;
}

.reasons-container {
  padding: 0 30px;
  @include desk {
    display: flex;
    flex-direction: row-reverse;
  }
}

.reasons-left,
.reasons-right {
  @include desk {
    width: calc((100% - 30px) / 2);
  }
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  @include tab {
    width: calc(100% - 240px);
    margin: 0 auto;
  }
}

.reasons-item {
  width: calc((100% - 30px) / 2);
  height: 90px;
  background-color: #f7f7f7;
  // padding: 20px 24px;
}

.reasons-item:nth-child(odd) {
  margin-right: 30px;
}

.reasons-item:nth-child(even) {
  margin-top: 30px;
}

.reasons-count {
  position: relative;
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  text-align: center;
  letter-spacing: 0.05em;
  color: $first-text-color;
  display: block;
  text-align: center;
  // margin-bottom: 6px;
  &::after {
    content: '+';
    color: $accent-color;
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    top: 5;
  }
}

.reasons-item-text {
  font-weight: 600;
  font-size: 9px;
  line-height: 1.36;
  text-align: center;
  color: $first-text-color;
}

.reasons-right {
  margin-bottom: 40px;
}
.reasons-pre-title {
  color: $first-text-color;
  margin-bottom: 20px;
}

.reasons-title {
  font-size: 20px;
  color: $accent-color;
  margin-bottom: 20px;
}

.reasons-after-title {
  font-size: 14px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
  text-align: justify;
}
