$header-text-color: #ffffff;
$first-btn-color: #ffffff;
$second-btn-color: #303030;
$first-title-color: #ffffff;
$second-title-color: #303030;
$first-text-color: #303030;
$accent-color: #79615a;
$second-sect-bckgrnd: #f7f7f7;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$secondary-color: #2196f3;
$main-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
